.dalek {
    background: url("images/dalek.png") no-repeat;
}
.doctor {
    background: url("images/doctor.png") no-repeat;
}
.dead {
    background: url("images/explosion.gif") no-repeat;
    background-size: cover;
}
.rubble {
    background: url("images/rubble.png") no-repeat;
}

.arrow {
    display: none;  /* at first */
    z-index: 1;
}
.n  { background: url("images/n.png") no-repeat; }
.s  { background: url("images/s.png") no-repeat; }
.e  { background: url("images/e.png") no-repeat; }
.w  { background: url("images/w.png") no-repeat; }
.ne { background: url("images/ne.png") no-repeat; }
.nw { background: url("images/nw.png") no-repeat; }
.se { background: url("images/se.png") no-repeat; }
.sw { background: url("images/sw.png") no-repeat; }

.small {
    font-size: small;
}

.sonicScrewDriver {
    position: relative;
}
.sonicScrewDriver .screw {
    position: absolute;
    border: 2px solid black;
    border-radius: 50%;
    opacity: .75;
}
/* concentric circles, to be animated with display: */
.sonicScrewDriver .screw1 {  width: 16px; height: 16px; left: 8px; top: 8px; }
.sonicScrewDriver .screw2 {  width: 24px; height: 24px; left: 4px; top: 4px; }
.sonicScrewDriver .screw3 {  width: 32px; height: 32px; }

.gameover {
    position: absolute;
    z-index: 2;
    margin: 4em;
    padding: 2em;
    height: 6em;
    width: 15em;
    line-height: 4em;
    opacity: 0.75;
}

.victory {
    display: none;
    border: 5px solid green;
/*    color: darkGreen; */
}

.loser {
    display: none;
    border: 5px solid red;
}

.arena {
    border: 2px solid;
    height: 324px;
    width: 484px;
    padding: 2px;
}

.board {
    position: relative;
    width: 100%;
    height: 100%;
}

.piece {
    position: absolute;
    height: 16px;
    width: 16px;
}
