<html>
<head>
  <link media="screen" href="grid.css" type="text/css" rel="stylesheet">
</head>

<body>
  <button id="edit-layout">Done</button>
  <button id="hide1">Hide</button>
  <button id="show1">Show</button>

  <div id="dashboard-layout">

    <div class="column left first">
      <ul class="widget-list">
        <li id="A" class="widget-container">Widget A</li>
        <li id="B" class="widget-container">Widget B</li>
      </ul>
    </div>
    <div class="column left">
      <ul class="widget-list">
        <li id="C" class="widget-container">Widget C</li>
        <li id="D" class="widget-container">Widget D</li>
      </ul>
    </div>

    <div class="column left">
      <ul class="widget-list">
        <li id="E" class="widget-container">Widget E</li>
      </ul>
    </div>

    <div class="clearer">&nbsp;</div>

  </div>


  <!-- ============================================================ -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
  <script type="text/javascript" src="https://raw.github.com/carhartl/jquery-cookie/master/jquery.cookie.js"></script>

  <script type="text/javascript" src="../util/util.js"></script>
  <script type="text/javascript" src="widget.js"></script>
  <script type="text/javascript" src="grid.js"></script>

</body>
</html>

