<html>
<head>
  <link media="screen" href="grid.css" type="text/css" rel="stylesheet">
</head>

<body>

  <div id="dashboard-layout">

    <div class="column left first">
    <ul class="sortable-list">
      <li class="sortable-item">Widget A</li>
      <li class="sortable-item">Widget B</li>
      </ul>
    </div>
    <div class="column left">

      <ul class="sortable-list">
        <li class="sortable-item">Widget C</li>
        <li class="sortable-item">Widget D</li>
      </ul>

    </div>

    <div class="column left">

      <ul class="sortable-list">
        <li class="sortable-item">Widget E</li>
      </ul>

    </div>

    <div class="clearer">&nbsp;</div>

  </div>


  <!-- ============================================================ -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
  <script type="text/javascript" src="grid.js"></script>

</body>
</html>

