/* Styles for common widget types */

.Widget {
    text-align: center;
    display: block;
    font-weight: bold;
    padding: 2em 0;
}

.Widget-ColorSquare {
    height: 100%;
    width: 100%;
    line-height: 10em;
    font-weight: bold;
    text-align: center;
}

.Widget-SmoothieGraph {
    padding: 2px;
    background: lightgray;
}
.Widget-SmoothieGraph > div {
    overflow-x: auto;   /* scroll bars */
    overflow-y: hidden;
    margin: auto;     /* center */
    height: 100%;
}
.Widget-SmoothieGraph canvas {
}
