/* Styles for common widget types */

.loading {
    text-align: center;
    line-height: 4em;
}

.error {
    text-align: center;
    line-height: 4em;
    color: red;
    font-weight: bold;
}

.error .details {
    line-height: 1em;
    font-size: small;
    font-weight: normal;
    color: gray;
    text-align: left;
    padding-left: .5em;
}

.Widget-Text {
    text-align: center;
    display: block;
    font-weight: bold;
    padding: 2em 0;
}

.Widget-ColorSquare {
    height: 100%;
    width: 100%;
    line-height: 10em;
    font-weight: bold;
    text-align: center;
}

.Widget-SmoothieGraph {
    padding: 2px;
    background: lightgray;
}
.Widget-EC2Instance {
    background: lightblue;
    height: 100%;
    position: relative;
}
.Widget-EC2Instance .inner {
    padding: 5px;
}
.Widget-EC2Instance .title {
    font-weight: bold;
    color: #666;
}

.Widget-EC2Instance .type {
    font-size: small;
}
.Widget-EC2Instance .devices li {
    font-size: small;
    padding-left: 1em;
}


.Widget-EC2Instance .running { color: green; }
.Widget-EC2Instance .pending { color: yellow; }
.Widget-EC2Instance .shutting-down,
.Widget-EC2Instance .terminated,
.Widget-EC2Instance .stopping,
.Widget-EC2Instance .stopped { color: red; font-weight: bold; }

.Widget-EC2Instance .buttonBar {
    vertical-align: bottom;
    position: absolute;
    bottom: 5px;
}
.Widget-SmoothieGraph > div {
    overflow-x: auto;   /* scroll bars */
    overflow-y: hidden;
    margin: auto;     /* center */
    height: 100%;
}
.Widget-SmoothieGraph canvas {
}

.widget .settings {
    padding: 5px;
}

.settingsToggle {
    position: absolute;
    top: 5;
    right: 5;
}
.widget .settings .title {
    font-weight: bold;
    padding-bottom: .5em;
}
